{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p class="first">Классификация с аугментацией</p>

<form action="/Lab_19" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*">
    <button type="submit">Загрузить ваше изображение</button>
    <h1>{{animal_model}}</h1>
</form>
<img src="/static/images/Lab19/plt_data.jpg" alt="plt_data.jpg">
<img src="/static/images/Lab19/plt_data_aug.jpg" alt="plt_data_aug.jpg">
<img src="/static/images/Lab19/plt_losses.jpg" alt="plt_losses.jpg">
<img src="/static/images/Lab19/plt_losses_dropout.jpg" alt="plt_losses_dropout.jpg">

{% endblock %}